# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Jianfeng Zheng
#	email = codiy@Jianfengs-MacBook-Pro.local
name = codiy
email = mail@codiy.net
[merge]
    tool = vimdiff
[color]
    ui = true
[core]
    editor = vim
[push]
    default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    # such as 'git pr 482 upstream'
    pr  = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    prc = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
